/* 
*   settings 页面样式表
*/
html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    -webkit-user-select: none;
}


/* 网页加载动画--淡入 */
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

.container {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    overflow-y: auto;
}

/* 亮色menu */
.settings-menu {
    width: 100px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    border:none;
    background-color: rgb(243,243,243);
    font-size: 14px;
    color: rgb(97,97,97);
    flex-direction: column;
    -webkit-user-drag: none;
}

.settings-menu a {
    color: rgb(97,97,97);
    text-decoration: none;
    cursor:default;
    -webkit-user-drag: none;
}


.settings-menu a:hover{
    color: #c2c2c2;
    transition-duration: 0.4s;  /*动画过渡0.4s*/
    -webkit-user-drag: none;
}




/* 亮色content */
.settings-content {
    padding-left: 10px;
    background-color: rgb(236,236,236);
    flex-direction: column;
    height:100%;
    width: 100%;
    color: rgb(97,97,97);
    font-size: 14px;
    border:none;
    -webkit-user-drag: none;
}

.settings-content p{
    font-size: 20px;
    -webkit-user-drag: none;
}

.settings-content pre{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-user-drag: none;
}

.settings-part {
    font-size: 14px;
    margin: 0;
    padding-top: 5px;
    padding-left: 20px;
    width:auto;
    height:auto;
    flex-direction: column;
}

.settings-part span {
    padding-left: 5px;
    font-size: 14px;
}

.settings-part select {
    appearance: none;    /*清除默认样式，必须*/
    padding-left: 18px;
    border: 1px solid #cecece;
    width: 70px;
    height: 30px;
    border-radius: 0.25em;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    background:url("../assets/left-arrow.png") no-repeat right center;
}

.settings-part select:hover{
    transition-duration: 0.4s;  /*动画过渡0.4s*/
    background: url("../assets/down-arrow.png") no-repeat right center;
}


.settings-part option {
    background-color: rgb(236,236,236);
    font-size: 16px;
    font-weight: 600;
}


:target{
    width: 100%;
    height: 28px;
    animation: fade 1000ms;
    -webkit-animation: fade 1000ms;
}

@keyframes fade {
    from {
        background-color: #e5eecc;
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;

    }
}

@-webkit-keyframes fade {
    from {
        background-color: #e5eecc;
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;

    }
}


.save-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #cecece;
    border-radius:5px;
    width:350px;
    height:35px;
}

.save-location span{
    background-color: rgb(221,221,221);
    padding: 5px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(97,97,97);
}

.save-location p{
    margin:0;
    padding-top: 7px;
    padding-bottom: 15px;
    width: 200px;
    font-size: 14px;
    color:rgb(97,97,97);
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.directory-select {
    border-radius: 5px;
    justify-content: right;
    width: 25px;
    height: 25px;
    padding: 5px;
    background: url("../assets/file-25.png") center no-repeat;
}


.directory-select:hover {
    background-color: rgb(235,235,235);
    cursor: pointer;
}

